USE [Asesoftware]



GO
/****** Object:  StoredProcedure [dbo].[MANAGEMENT_TRAERTURNOS_ID]    Script Date: 9/07/2024 7:50:34 p. m. ******/
DROP PROCEDURE [dbo].[MANAGEMENT_TRAERTURNOS_ID]
GO
ALTER TABLE [dbo].[TURNOS] DROP CONSTRAINT [FK__TURNOS__ID_SERVI__29572725]
GO
ALTER TABLE [dbo].[SERVICIOS] DROP CONSTRAINT [FK__SERVICIOS__ID_CO__267ABA7A]
GO
ALTER TABLE [dbo].[TURNOS] DROP CONSTRAINT [DF__TURNOS__ESTADO__2A4B4B5E]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 9/07/2024 7:50:34 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TURNOS]') AND type in (N'U'))
DROP TABLE [dbo].[TURNOS]
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 9/07/2024 7:50:34 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SERVICIOS]') AND type in (N'U'))
DROP TABLE [dbo].[SERVICIOS]
GO
/****** Object:  Table [dbo].[COMERCIOS]    Script Date: 9/07/2024 7:50:34 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMERCIOS]') AND type in (N'U'))
DROP TABLE [dbo].[COMERCIOS]
GO
/****** Object:  Table [dbo].[COMERCIOS]    Script Date: 9/07/2024 7:50:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMERCIOS](
	[ID_COMERCIO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_COMERCIO] [varchar](100) NOT NULL,
	[AFORO_MAXIMO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMERCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 9/07/2024 7:50:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID_SERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMERCIO] [int] NULL,
	[NOM_SERVICIO] [nvarchar](100) NOT NULL,
	[HORA_APERTURA] [time](7) NOT NULL,
	[HORA_CIERRE] [time](7) NOT NULL,
	[DURACION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 9/07/2024 7:50:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[ID_TURNO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SERVICIO] [int] NULL,
	[FECHA_TURNO] [date] NOT NULL,
	[HORA_INICIO] [time](7) NOT NULL,
	[HORA_FIN] [time](7) NOT NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COMERCIOS] ON 

INSERT [dbo].[COMERCIOS] ([ID_COMERCIO], [NOM_COMERCIO], [AFORO_MAXIMO]) VALUES (1, N'CANCHA 1', 10)
INSERT [dbo].[COMERCIOS] ([ID_COMERCIO], [NOM_COMERCIO], [AFORO_MAXIMO]) VALUES (2, N'CANCHA 2', 14)
INSERT [dbo].[COMERCIOS] ([ID_COMERCIO], [NOM_COMERCIO], [AFORO_MAXIMO]) VALUES (3, N'CANCHA 3', 22)
SET IDENTITY_INSERT [dbo].[COMERCIOS] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICIOS] ON 

INSERT [dbo].[SERVICIOS] ([ID_SERVICIO], [ID_COMERCIO], [NOM_SERVICIO], [HORA_APERTURA], [HORA_CIERRE], [DURACION]) VALUES (1, 1, N'CANCHAS FUTBOL 5', CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time), 60)
INSERT [dbo].[SERVICIOS] ([ID_SERVICIO], [ID_COMERCIO], [NOM_SERVICIO], [HORA_APERTURA], [HORA_CIERRE], [DURACION]) VALUES (3, 2, N'CANCHA DE FUTBOL 7', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), 60)
INSERT [dbo].[SERVICIOS] ([ID_SERVICIO], [ID_COMERCIO], [NOM_SERVICIO], [HORA_APERTURA], [HORA_CIERRE], [DURACION]) VALUES (4, 3, N'CANCHA FUTBOL 11', CAST(N'12:00:00' AS Time), CAST(N'18:00:00' AS Time), 60)
SET IDENTITY_INSERT [dbo].[SERVICIOS] OFF
GO
ALTER TABLE [dbo].[TURNOS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[SERVICIOS]  WITH CHECK ADD FOREIGN KEY([ID_COMERCIO])
REFERENCES [dbo].[COMERCIOS] ([ID_COMERCIO])
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
/****** Object:  StoredProcedure [dbo].[MANAGEMENT_TRAERTURNOS_ID]    Script Date: 9/07/2024 7:50:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MANAGEMENT_TRAERTURNOS_ID]
    @FECHAINICIO DATE,
    @FECHAFIN DATE,
    @ID_SERVICIO INT
AS

 --   DECLARE @FECHAINICIO DATE
 --   DECLARE @FECHAFIN DATE
 --   DECLARE @ID_SERVICIO INT

	--SET @FECHAINICIO = '2024-07-08'
	--SET @FECHAFIN = '2024-07-09'
	--SET @ID_SERVICIO = 3

BEGIN
    SET NOCOUNT ON;

    DECLARE @HORAAPERTURA TIME;
    DECLARE @HORACIERRE TIME;
    DECLARE @DURACIONMINUTOS INT;
    DECLARE @FECHAACTUAL DATE;
    DECLARE @HORAACTUAL TIME;

    -- OBTENER INFORMACIÓN DEL SERVICIO
    SELECT 
        @HORAAPERTURA = HORA_APERTURA,
        @HORACIERRE = HORA_CIERRE,
        @DURACIONMINUTOS = DURACION
    FROM SERVICIOS
    WHERE ID_SERVICIO = @ID_SERVICIO;

    -- VALIDAR QUE SE ENCONTRÓ EL SERVICIO
    IF @HORAAPERTURA IS NULL
    BEGIN
        RAISERROR('SERVICIO NO ENCONTRADO.', 16, 1);
        RETURN;
    END

    SET @FECHAACTUAL = @FECHAINICIO;

    -- COMPROBAR SI YA EXISTEN TURNOS PARA LA FECHA INICIAL
  --  IF EXISTS (SELECT 1 FROM TURNOS WHERE FECHA_TURNO BETWEEN @FECHAINICIO AND @FECHAFIN AND ID_SERVICIO = @ID_SERVICIO)
  --  BEGIN
		-- SELECT
		--T.ID_TURNO	
		--,T.ID_SERVICIO	
		--,T.FECHA_TURNO	
		--,T.HORA_INICIO	
		--,T.HORA_FIN	
		--,T.ESTADO
		--,CASE WHEN T.ESTADO = 1 THEN 'ACTIVO' ELSE 'INACTIVO' END DESCRIPCIONESTADO
		--,S.ID_SERVICIO	
		--,S.ID_COMERCIO	
		--,S.NOM_SERVICIO	
		--,S.HORA_APERTURA	
		--,S.HORA_CIERRE	
		--,S.DURACION

		--FROM TURNOS T
		--LEFT JOIN SERVICIOS S ON S.ID_SERVICIO = T.ID_SERVICIO
		--WHERE T.ID_SERVICIO = @ID_SERVICIO
		--AND T.FECHA_TURNO BETWEEN @FECHAINICIO AND @FECHAFIN;

  --      RETURN;
  --  END

    -- GENERAR TURNOS PARA CADA DÍA EN EL RANGO DE FECHAS
    WHILE @FECHAACTUAL <= @FECHAFIN
    BEGIN
        SET @HORAACTUAL = @HORAAPERTURA;

        -- GENERAR TURNOS PARA EL DÍA ACTUAL
        WHILE DATEADD(MINUTE, @DURACIONMINUTOS, @HORAACTUAL) <= @HORACIERRE
        BEGIN

		IF not exists(select * FROM TURNOS WHERE FECHA_TURNO = @FECHAACTUAL AND HORA_INICIO = @HORAACTUAL AND HORA_FIN = DATEADD(MINUTE, @DURACIONMINUTOS, @HORAACTUAL) )
			BEGIN
				INSERT INTO TURNOS (ID_SERVICIO, FECHA_TURNO, HORA_INICIO, HORA_FIN)
				VALUES (@ID_SERVICIO, @FECHAACTUAL, @HORAACTUAL, DATEADD(MINUTE, @DURACIONMINUTOS, @HORAACTUAL));
			END
            -- AVANZAR AL SIGUIENTE TURNO
            SET @HORAACTUAL = DATEADD(MINUTE, @DURACIONMINUTOS, @HORAACTUAL);
        END

        -- AVANZAR AL SIGUIENTE DÍA
        SET @FECHAACTUAL = DATEADD(DAY, 1, @FECHAACTUAL);
    END

    -- DEVOLVER LOS TURNOS GENERADOS
    SELECT
	T.ID_TURNO	
	,T.ID_SERVICIO	
	,T.FECHA_TURNO	
	,T.HORA_INICIO	
	,T.HORA_FIN	
	,T.ESTADO
	,CASE WHEN T.ESTADO = 1 THEN 'ACTIVO' ELSE 'INACTIVO' END DESCRIPCIONESTADO
	,S.ID_SERVICIO	
	,S.ID_COMERCIO	
	,S.NOM_SERVICIO	
	,S.HORA_APERTURA	
	,S.HORA_CIERRE	
	,S.DURACION

	FROM TURNOS T
	LEFT JOIN SERVICIOS S ON S.ID_SERVICIO = T.ID_SERVICIO
    WHERE T.ID_SERVICIO = @ID_SERVICIO
    AND T.FECHA_TURNO BETWEEN @FECHAINICIO AND @FECHAFIN;
END;
GO
